@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* line 6, ../../carbon buttons/sass/style.sass */
button::after, button::before {
  box-sizing: border-box;
}

button {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

/* line 24, ../../carbon buttons/sass/style.sass */
button {
  position: relative;
  border: none;
  font-size: 18px;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border-radius: 3px;
  margin: 0 10px;
  padding: 23px 33px;
  border: 3px solid transparent;
}

.material-bubble {
  background-color: transparent;
  color: #1b1b20;
  border: none;
  overflow: hidden;
  box-shadow: none;
}

/* line 88, ../../carbon buttons/sass/style.sass */
.material-bubble:hover {
  color: #e6e6e6;
}

/* line 91, ../../carbon buttons/sass/style.sass */
.material-bubble::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #1b1b20;
  transition: opacity 0.3s, border 0.3s;
}

/* line 101, ../../carbon buttons/sass/style.sass */
.material-bubble:hover::before {
  opacity: 0;
}

/* line 104, ../../carbon buttons/sass/style.sass */
.material-bubble::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: black;
  border-color: transparent;
  border-radius: 50%;
  transform: translate(-10px, -70px) scale(0.1);
  opacity: 0;
  z-index: -1;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

/* line 119, ../../carbon buttons/sass/style.sass */
.material-bubble:hover::after {
  opacity: 1;
  transform-origin: 100px 100px;
  transform: scale(1) translate(-10px, -70px);
}
